## Answers
See the link for the text book http://infolab.stanford.edu/~ullman/mmds/ch9.pdf

In [22]:
import pandas as pd
import numpy as np
from scipy import spatial
from sklearn.metrics import jaccard_similarity_score

In [2]:
df=pd.DataFrame({'M': [1, 2, 5], 'N': [2, 3, 5],'P':[3, 2, 5],'Q':[4, 5, 3],'R':[5, 3, 2]})
df.index=['A','B','C']
df

   M  N  P  Q  R
A  1  2  3  4  5
B  2  3  2  5  3
C  5  5  5  3  2

In [3]:
df=df.sub(df.mean(axis=1),axis=0)
df

     M    N    P    Q    R
A -2.0 -1.0  0.0  1.0  2.0
B -1.0  0.0 -1.0  2.0  0.0
C  1.0  1.0  1.0 -1.0 -2.0

In [4]:
df=df.sub(df.mean(axis=0),axis=1)
df

          M    N    P         Q    R
A -1.333333 -1.0  0.0  0.333333  2.0
B -0.333333  0.0 -1.0  1.333333  0.0
C  1.666667  1.0  1.0 -1.666667 -2.0

### Question 2
Note that $\text{distance}=1-\text{similarity}$ i.e lesser the distance greater is the similarity. So cosine similarity is 1.0 when distance is 0.0

In [5]:
alphas=[0.0,0.5,1.0,2.0]
print("(A,B) (B,C) (A,C) alpha")
for alpha in alphas:
    A=[1,0,1,0,1,2]
    B=[1,1,0,0,1,6]
    C=[0,1,0,1,0,2]
    A[5]=A[5]*alpha;B[5]=B[5]*alpha;C[5]=C[5]*alpha
    print(spatial.distance.cosine(A,B),spatial.distance.cosine(B,C),spatial.distance.cosine(A,C),alpha)

(A,B) (B,C) (A,C) alpha
0.33333333333333337 0.591751709536137 1.0 0.0
0.2783121635129677 0.33333333333333337 0.7113248654051871 0.5
0.15268145426367652 0.1501634144012025 0.38278660015163246 1.0
0.05390545923925427 0.04742065558431974 0.13481908730259984 2.0

### Question 3

In [8]:
df=pd.DataFrame({'a': [1, 0, 0], 'b': [1, 1, 0],'c':[0, 1, 0],'d':[1, 1, 1],'e':[0, 0, 0],\
               'f':[0,0,1],'g':[1,0,1],'h':[0,0,1]})
df.index=['A','B','C']
df

   a  b  c  d  e  f  g  h
A  1  1  0  1  0  0  1  0
B  0  1  1  1  0  0  0  0
C  0  0  0  1  0  1  1  1

In [29]:
mat=np.zeros((len(df.columns),len(df.columns)))
for i in range(0,len(df.columns)):
    for j in range(0,len(df.columns)):
        mat[i][j]=1-jaccard_similarity_score(df.iloc[:,i],df.iloc[:,j],normalize=True)
np.round(mat,2)

array([[0.        , 0.33333333, 0.66666667, 0.66666667, 0.33333333,
        0.66666667, 0.33333333, 0.66666667],
       [0.33333333, 0.        , 0.33333333, 0.33333333, 0.66666667,
        1.        , 0.66666667, 1.        ],
       [0.66666667, 0.33333333, 0.        , 0.66666667, 0.33333333,
        0.66666667, 1.        , 0.66666667],
       [0.66666667, 0.33333333, 0.66666667, 0.        , 1.        ,
        0.66666667, 0.33333333, 0.66666667],
       [0.33333333, 0.66666667, 0.33333333, 1.        , 0.        ,
        0.33333333, 0.66666667, 0.33333333],
       [0.66666667, 1.        , 0.66666667, 0.66666667, 0.33333333,
        0.        , 0.33333333, 0.        ],
       [0.33333333, 0.66666667, 1.        , 0.33333333, 0.66666667,
        0.33333333, 0.        , 0.33333333],
       [0.66666667, 1.        , 0.66666667, 0.66666667, 0.33333333,
        0.        , 0.33333333, 0.        ]])